[submodule "JavaScript30"]
	path = JavaScript30
	url = git@github.com:wesbos/JavaScript30.git
[submodule "Module_3/web-module-project-intro-css"]
	path = Module_3/web-module-project-intro-css
	url = git@github.com:LambdaSchool/web-module-project-intro-css.git
[submodule "Module_2/Git-for-Web-Development-Project"]
	path = Module_2/Git-for-Web-Development-Project
	url = git@github.com:LambdaSchool/Git-for-Web-Development-Project.git
[submodule "mastering-emacs-in-one-year-guide"]
	path = mastering-emacs-in-one-year-guide
	url = git@github.com:redguardtoo/mastering-emacs-in-one-year-guide.git
[submodule "FullStackWeb"]
	path = FullStackWeb
	url = git@github.com:sooof/FullStackWeb.git
[submodule "Module_4/User-Interface-II"]
	path = Module_4/User-Interface-II
	url = git@github.com:LambdaSchool/User-Interface-II.git
[submodule "Tools/mastering-emacs-in-one-year-guide"]
	path = Tools/mastering-emacs-in-one-year-guide
	url = git@github.com:redguardtoo/mastering-emacs-in-one-year-guide.git
[submodule "References/FullStackWeb"]
	path = References/FullStackWeb
	url = git@github.com:sooof/FullStackWeb.git
[submodule "web-Sprint-Challenge-User-Interface-and-Git"]
	path = web-Sprint-Challenge-User-Interface-and-Git
	url = git@github.com:LambdaSchool/web-Sprint-Challenge-User-Interface-and-Git.git
[submodule "sprint_1/web-Sprint-Challenge-User-Interface-and-Git"]
	path = sprint_1/web-Sprint-Challenge-User-Interface-and-Git
	url = git@github.com:LambdaSchool/web-Sprint-Challenge-User-Interface-and-Git.git
[submodule "Sprint_112/web-sprint-challenge-advanced-css-and-intro-js"]
	path = Sprint_112/web-sprint-challenge-advanced-css-and-intro-js
	url = git@github.com:LambdaSchool/web-sprint-challenge-advanced-css-and-intro-js.git
[submodule "Sprint_12/web-sprint-challenge-advanced-css-and-intro-js"]
	path = Sprint_12/web-sprint-challenge-advanced-css-and-intro-js
	url = git@github.com:LambdaSchool/web-sprint-challenge-advanced-css-and-intro-js.git
[submodule "Sprint_11/web-Sprint-Challenge-User-Interface-and-Git"]
	path = Sprint_11/web-Sprint-Challenge-User-Interface-and-Git
	url = git@github.com:LambdaSchool/web-Sprint-Challenge-User-Interface-and-Git.git
[submodule "Module_113/web-module-project-intro-css"]
	path = Module_113/web-module-project-intro-css
	url = git@github.com:LambdaSchool/web-module-project-intro-css.git
[submodule "Module_114/User-Interface-II"]
	path = Module_114/User-Interface-II
	url = git@github.com:beatlesm/User-Interface-II.git
[submodule "Module_112/Git-for-Web-Development-Project"]
	path = Module_112/Git-for-Web-Development-Project
	url = git@github.com:LambdaSchool/Git-for-Web-Development-Project.git
