[submodule "JavaScript30"]
	path = JavaScript30
	url = git@github.com:wesbos/JavaScript30.git
[submodule "Module_3/web-module-project-intro-css"]
	path = Module_3/web-module-project-intro-css
	url = git@github.com:LambdaSchool/web-module-project-intro-css.git
[submodule "Module_2/Git-for-Web-Development-Project"]
	path = Module_2/Git-for-Web-Development-Project
	url = git@github.com:LambdaSchool/Git-for-Web-Development-Project.git
[submodule "mastering-emacs-in-one-year-guide"]
	path = mastering-emacs-in-one-year-guide
	url = git@github.com:redguardtoo/mastering-emacs-in-one-year-guide.git
[submodule "FullStackWeb"]
	path = FullStackWeb
	url = git@github.com:sooof/FullStackWeb.git
[submodule "Module_4/User-Interface-II"]
	path = Module_4/User-Interface-II
	url = git@github.com:LambdaSchool/User-Interface-II.git
[submodule "Tools/mastering-emacs-in-one-year-guide"]
	path = Tools/mastering-emacs-in-one-year-guide
	url = git@github.com:redguardtoo/mastering-emacs-in-one-year-guide.git
[submodule "References/FullStackWeb"]
	path = References/FullStackWeb
	url = git@github.com:sooof/FullStackWeb.git
[submodule "web-Sprint-Challenge-User-Interface-and-Git"]
	path = web-Sprint-Challenge-User-Interface-and-Git
	url = git@github.com:LambdaSchool/web-Sprint-Challenge-User-Interface-and-Git.git
[submodule "sprint_1/web-Sprint-Challenge-User-Interface-and-Git"]
	path = sprint_1/web-Sprint-Challenge-User-Interface-and-Git
	url = git@github.com:LambdaSchool/web-Sprint-Challenge-User-Interface-and-Git.git
[submodule "Sprint_112/web-sprint-challenge-advanced-css-and-intro-js"]
	path = Sprint_112/web-sprint-challenge-advanced-css-and-intro-js
	url = git@github.com:LambdaSchool/web-sprint-challenge-advanced-css-and-intro-js.git
[submodule "Sprint_12/web-sprint-challenge-advanced-css-and-intro-js"]
	path = Sprint_12/web-sprint-challenge-advanced-css-and-intro-js
	url = git@github.com:LambdaSchool/web-sprint-challenge-advanced-css-and-intro-js.git
[submodule "Sprint_11/web-Sprint-Challenge-User-Interface-and-Git"]
	path = Sprint_11/web-Sprint-Challenge-User-Interface-and-Git
	url = git@github.com:LambdaSchool/web-Sprint-Challenge-User-Interface-and-Git.git
[submodule "Module_113/web-module-project-intro-css"]
	path = Module_113/web-module-project-intro-css
	url = git@github.com:LambdaSchool/web-module-project-intro-css.git
[submodule "Module_114/User-Interface-II"]
	path = Module_114/User-Interface-II
	url = git@github.com:beatlesm/User-Interface-II.git
[submodule "Module_112/Git-for-Web-Development-Project"]
	path = Module_112/Git-for-Web-Development-Project
	url = git@github.com:LambdaSchool/Git-for-Web-Development-Project.git
[submodule "samples/farm-to-table-practice-project"]
	path = samples/farm-to-table-practice-project
	url = git@github.com:BrityHemming/farm-to-table-practice-project.git
[submodule "Materials/JavaScript30"]
	path = Materials/JavaScript30
	url = git@github.com:wesbos/JavaScript30.git
[submodule "Module_121/Responsive-Design"]
	path = Module_121/Responsive-Design
	url = git@github.com:LambdaSchool/Responsive-Design.git
[submodule "Module_122/Introduction-to-JavaScript"]
	path = Module_122/Introduction-to-JavaScript
	url = git@github.com:LambdaSchool/Introduction-to-JavaScript.git
[submodule "Tools/normalize.css"]
	path = Tools/normalize.css
	url = git@github.com:necolas/normalize.css.git
[submodule "Module_123/web-module-challenge-arrays"]
	path = Module_123/web-module-challenge-arrays
	url = git@github.com:LambdaSchool/web-module-challenge-arrays.git
[submodule "Module_124/web-module-challenge-objects"]
	path = Module_124/web-module-challenge-objects
	url = git@github.com:LambdaSchool/web-module-challenge-objects.git
[submodule "Javascript-Array-cheatsheet"]
	path = Javascript-Array-cheatsheet
	url = git@github.com:ayushgptaa/Javascript-Array-cheatsheet.git
[submodule "Tools/Javascript-Array-cheatsheet"]
	path = Tools/Javascript-Array-cheatsheet
	url = git@github.com:ayushgptaa/Javascript-Array-cheatsheet.git
[submodule "Sprint_13/Sprint-Challenge--JavaScript"]
	path = Sprint_13/Sprint-Challenge--JavaScript
	url = git@github.com:LambdaSchool/Sprint-Challenge--JavaScript.git
[submodule "Module_13/web-module-challenge-scope-and-closure"]
	path = Module_13/web-module-challenge-scope-and-closure
	url = git@github.com:LambdaSchool/web-module-challenge-scope-and-closure.git
[submodule "Module_13/Project1/web-module-challenge-scope-and-closure"]
	path = Module_13/Project1/web-module-challenge-scope-and-closure
	url = git@github.com:LambdaSchool/web-module-challenge-scope-and-closure.git
[submodule "Module_12/Project2/Introduction-to-JavaScript"]
	path = Module_12/Project2/Introduction-to-JavaScript
	url = git@github.com:LambdaSchool/Introduction-to-JavaScript.git
[submodule "Module_12/Project3/web-module-challenge-arrays"]
	path = Module_12/Project3/web-module-challenge-arrays
	url = git@github.com:LambdaSchool/web-module-challenge-arrays.git
[submodule "Module_12/Project4/web-module-challenge-objects"]
	path = Module_12/Project4/web-module-challenge-objects
	url = git@github.com:LambdaSchool/web-module-challenge-objects.git
[submodule "Module_12/sprint2/web-sprint-challenge-advanced-css-and-intro-js"]
	path = Module_12/sprint2/web-sprint-challenge-advanced-css-and-intro-js
	url = git@github.com:LambdaSchool/web-sprint-challenge-advanced-css-and-intro-js.git
[submodule "Module_13/Sprint/Sprint-Challenge--JavaScript"]
	path = Module_13/Sprint/Sprint-Challenge--JavaScript
	url = git@github.com:LambdaSchool/Sprint-Challenge--JavaScript.git
[submodule "Module_11/Sprint1/web-Sprint-Challenge-User-Interface-and-Git"]
	path = Module_11/Sprint1/web-Sprint-Challenge-User-Interface-and-Git
	url = git@github.com:LambdaSchool/web-Sprint-Challenge-User-Interface-and-Git.git
[submodule "Module_11/Project4/User-Interface-II"]
	path = Module_11/Project4/User-Interface-II
	url = git@github.com:LambdaSchool/User-Interface-II.git
[submodule "Module_11/Project3/web-module-project-intro-css"]
	path = Module_11/Project3/web-module-project-intro-css
	url = git@github.com:LambdaSchool/web-module-project-intro-css.git
[submodule "Module_11/Project2/Git-for-Web-Development-Project"]
	path = Module_11/Project2/Git-for-Web-Development-Project
	url = git@github.com:LambdaSchool/Git-for-Web-Development-Project.git
[submodule "Module_13/Project2/Array-Methods-and-Callbacks"]
	path = Module_13/Project2/Array-Methods-and-Callbacks
	url = git@github.com:LambdaSchool/Array-Methods-and-Callbacks.git
